.box{
    border: 1px solid black;
    flex: 1;
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.box.green {
    background-color: rgb(56, 212, 56);
}

.box.yellow {
    background-color: yellow;
}

.box.red {
    background-color: red;
}

.category {
    font-weight: 700;
}

.value {
    font-size: 30px;
}