.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lightBlue {
  background-color: #00539b20;
}

.card {
  background-color: whitesmoke;
  border: steelblue;
}

.cardHead {
  background-color: steelblue;
  color: seashell;
  font-weight: bold;
}

