span {
    margin-bottom: 5%;
}

.settings {
    width: 100%;
}

.options {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-left: 0%;
}

.edits {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-right: 0%;
}

.dropdown {
    margin-left: 50%;
}

.remove {
    margin-right: 50%;
}