body {
  text-align: center;
  margin: 0%;
  height: 100vh;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  text-align: left;
}

.passwordRequirementText {
  text-align: left;
  margin-left: 30%;
  margin-top: 2%;
  margin-bottom: 0%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lightBlue {
  background-color: #00539b20;
  height: 100vh;
}

.login {  

  width: 45%;
  margin: auto;
  margin-top: 5%;
  padding: 1%;
}

.signup {  

  width: 45%;
  margin: auto;
  margin-top: 3%;
  padding: 1%;
}

.inputWrapper {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 15px;
  height: auto;
}

.loginHeader {
  text-align: left;
  font-size: large;
  color: black;
}

.loginHeader .accent {
  color: grey;
}

.loginLabel {
  display: inline-block;
  width: 10%;
  text-align: right;
  margin: 3%;
  padding: 1%;
}

.signupLabel {
  display: inline-block;
  width: 20%;
  text-align: right;
  margin: 2%;
  padding: 1%;
}

.loginInput {
  display: inline-block;
  margin: 3%;
  padding: 1%;
  text-align: left;
  width: 60%;
}

.signupInput {
  display: inline-block;
  margin: 2%;
  padding: 1%;
  text-align: left;
  width: 60%;
}

.link {
  color: white;
}

.link:hover {
  color:rgb(3, 77, 152);
}

.button, .butt , input[type=submit] {
  background-color: rgb(3, 77, 152);
  border: 2px solid black;
  color: white;
  width: 256px;
  height: auto;
  padding: 12px 24px;
  margin: 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: rgba(99, 104, 109, 0.2) 0px 8px 24px;
  transition-duration: 0.3s;
  text-align: center;
}

.button:hover, .butt:hover, input[type=submit]:hover {
  background-color: white;
  color:rgb(3, 77, 152);
}