.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lightBlue {
  background-color: #00539b20;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.top-Padding {
  padding-top: 2%;
}

.card {
  background-color: whitesmoke;
  border: rgb(0 51 160);
}

.no-bot-pad {
  padding-bottom: 0%;
}

.cardHead {
  background-color: 0 51 160;
  color: seashell;
  background-color: rgb(0 51 160);
  font-weight: bold;
}

.badge {
  width : 8%;
  height: 80%;
  background-color: rgb(70, 180, 90);
}

.tableTitle {
  font-weight: bold;
  text-align: left;
}

.Button {
  background-color: white;
  color: rgb(0 51 160);  
}

.Button:hover {
  background-color: steelblue;
  color: white;
}

.CLIN-and-File-buttongroup{
  width: auto;
  background-color: white;
  border: none;
  color: steelblue;
}

.alignLeft {
  text-align: left;
}

.Tabs {
  width: auto;
  border-color: black;
  margin-bottom: 2%;
}

.Tab {
  background-color: whitesmoke !important;
  border-bottom-color: black !important;
}

.submit-new-project {
  background-color: rgb(0, 48, 143);
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submit-new-project.preaward {
  margin-top: 3%;
  margin-bottom: 2%;
}

.submit-new-project.main {
  margin-left: 10%;
}

.submit-new-project.admin {
  margin-top: 2%;
  margin-bottom: 10%;
  width: auto;
}

.submit-new-project.settings {
  border: none;
}