.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lightBlue {
  background-color: #00539b20;
  height: 100%;
  width: 100%;
}

.top-Padding {
  padding-top: 2%;
}

.card {
  background-color: whitesmoke;
  border: steelblue;
}

.no-bot-pad {
  padding-bottom: 0%;
}

.cardHead {
  background-color: steelblue;
  color: seashell;
  font-weight: bold;
}

.badge {
  width : 8%;
  height: 80%;
  background-color: rgb(70, 180, 90);
}

.tableTitle {
  font-weight: bold;
  text-align: left;
}

.Button {
  background-color: white;
  border-color: black;
  color: steelblue;  
}

.Button:hover {
  background-color: steelblue;
  border-color: black;
  color: white;
}

.Button:focus {
  background-color: steelblue;
  border-color: black;
  outline: none;
  box-shadow: none;
}

.CLIN-and-File-buttongroup{
  width: 80%;
  background-color: white;
  border-color: black;
  color: steelblue;
}

.alignLeft {
  text-align: left;
}
