.project-element {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.upload {
    width: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}